<div class="container-fluid">
    <form>
        <div class="d-flex flex-col">
            <div class="col-xs-12">
                <div class="img-rounded bg-color template-prc-20 rounded">
                    <div>
                        <p>Calcule o valor da hipotenusa digitando os valores de dois catetos nos campos abaixo, em
                            seguida aperte o botão de '=' para receber o valor REAL da hipotenusa.</p>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-3">
                            <label for="cateto1">Cateto 1</label>
                            <input type="string" class="form-control text-right calcu-display-text" id="cateto1"
                                name="cateto1" placeholder="0" [(ngModel)]="cateto1">
                        </div>
                        <div class="col-1 plus-sign mt-4">
                            <span style="color: white;">+</span>
                        </div>
                        <div class="col-3">
                            <label for="cateto2">Cateto 2</label>
                            <input type="string" class="form-control text-right calcu-display-text" id="cateto2"
                                name="cateto2" placeholder="0" [(ngModel)]="cateto2">
                        </div>
                        <div class="col-1 equal-sign mt-4 text-center">
                            <button (click)="calcularHipotenusa()" type="button" class="btn btn-success calcu-btn"
                                id="btnCalcular">=</button>
                        </div>
                        <div class="col-3">
                            <label for="hipotenusaResult">Hipotenusa</label>
                            <input type="text" [value]="hipotenusaResult"
                                class="form-control text-right calcu-display-text" id="hipotenusa" name="hipotenusa"
                                placeholder="123" readonly>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>Calcule o valor de um dos catetos digitando os valores de um cateto e da hipotenusa nos
                            campos abaixo, em seguida aperte o botão de '=' para receber o valor REAL do cateto
                            faltante.</p>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-3">
                            <label for="hipotenusaCalc">Hipotenusa</label>
                            <input type="string" class="form-control text-right calcu-display-text" id="hipotenusaCalc"
                                name="hipotenusaCalc" placeholder="0" [(ngModel)]="hipotenusaCalc">
                        </div>
                        <div class="col-1 plus-sign mt-4">
                            <span style="color: white;">-</span>
                        </div>
                        <div class="col-3">
                            <label for="catetoy">Cateto y</label>
                            <input type="string" class="form-control text-right calcu-display-text" id="catetoy"
                                name="catetoy" placeholder="0" [(ngModel)]="catetoy">
                        </div>
                        <div class="col-1 equal-sign mt-4 text-center">
                            <button (click)="calcularCateto()" type="button" class="btn btn-success calcu-btn"
                                id="btnCalcular">=</button>
                        </div>
                        <div class="col-3">
                            <label for="catetox">Cateto x</label>
                            <input type="text" [value]="catetox" class="form-control text-right calcu-display-text"
                                id="catetoy" name="catetox" placeholder="123" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>