<div class="bg-color rounded text-center">
    <p>Pitágoras foi um filósofo, matemático e físico grego nascido em 570 a.C., na ilha de Samos. Seu pai era um gravador
        chamado Mnesarco. Não existem muitos registros sobre o começo da vida de Pitágoras, só sabe-se que ainda jovem já
        conhecia diversas áreas de estudo. Em busca de mais conhecimento, estima-se que Pitágoras tenha viajado por lugares como
        Egito, Creta e Palestina. Conta a lenda que foi numa dessas viagens ao Egito que o grego formulou uma de suas teorias
        mais famosas e influentes: o teorema de Pitágoras. No Egito ele teria se impressionado com as pirâmides e começado a
        estudar a estrutura dos triângulos retângulos, o que levou à formulação de seu teorema.
        O teorema de Pitágoras é uma regra que pode ser aplicada a qualquer triângulo retângulo, uma figura geométrica de três
        lados que possua um ângulo reto (de 90°). Essa é considerada a maior descoberta do pensador grego e faz parte do
        currículo escolar de boa parte do mundo. A lei matemática descoberta pelo matemático tem a ver com os lados do
        triângulo. Segundo ela, a soma dos quadrados do valor dos menores lados de um triângulo retângulo (chamados de catetos)
        é equivalente ao quadrado do valor do maior lado (chamado de hipotenusa). Assim chega-se à fórmula a2 + b2 = h2, onde a
        e b são os valores dos catetos e h é o valor da hipotenusa.</p>
    </div>